<footer class="footer">

  <div class="container-fluid">

<!---    <h2 class="footer-heading">{{ site.title }}</h2> --->
	<div class="row  vertical-align">
		<div class="col-xs-6">
			<div class="copy">
				<p>Pat Schloss &copy 2015</p>
				<p>
					<a href="mailto:{{ site.email }}">
						<i class="fa fa-envelope-o fa-lg" style="color:white"></i>
					</a>
					<a href="https://twitter.com/{{ site.twitter_username }}">
						<i class="fa fa-twitter fa-lg" style="color:white"></i>
					</a>
					<a href="https://github.com/{{ site.github_username }}">
						<i class="fa fa-github fa-lg" style="color:white"></i>
					</a>
				</p>
			</div>
		</div>
    </div>

  </div>

</footer>
