<div class="footer">

	<div class="container-fluid">
		<div class="row  vertical-align">
			<div class="col-md-6 address">
				<p>The University of Michigan</p>
				<p>Department of Microbiology & Immunology</p>
				<p>1520A Medical Science Research Bldg. I</p>
				<p>1150 W. Medical Center Drive</p>
				<p>Ann Arbor, MI 48109</p>
			</div>
			<div class="col-md-6">
				<div class="copy pull-right">
					<p>Pat Schloss &copy {{ site.time | date: '%Y' }}</p>
					<p>
						<a href="mailto:{{ site.email }}">
							<i class="fa fa-envelope-o fa-lg" style="color:white"></i>
						</a>
						<a href="https://twitter.com/{{ site.twitter_username }}">
							<i class="fa fa-twitter fa-lg" style="color:white"></i>
						</a>
						<a href="https://github.com/{{ site.github_username }}">
							<i class="fa fa-github fa-lg" style="color:white"></i>
						</a>
					</p>
					{% if page.attribution != nil %}
						<p class="attribution">
							<a href={{page.attribution.link_to_image}}>Original background image</a> from {{page.attribution.author }} under <a href="{{page.attribution.license_link}}">{{page.attribution.license}} license</a>
						</p>
					{% endif %}
				</div>
			</div>
	    </div>
 	</div>
</div>
