{%	if page.collection == "posts"				%}
{%		assign value = page.categories[0]		%}
{%	elsif page.collection == nil				%}
{%		assign value = page.category			%}
{%	else										%}
{%		assign value = page.collection			%}
{%	endif										%}

<div class="header">
	<div class="container-fluid">
		<div class="pull-right">
			<ul class="nav nav-pills">
				{% if page.category != "home" %}
				<li role="presentation" ><a href="{{site.baseurl}}/">Home</a></li>
				{% endif %}
				<li role="presentation" {% if value == "science" %}class="active"{% endif %}><a href="{{ site.baseurl }}/science">Science</a></li>
				<li role="presentation" {% if value == "software" %}class="active"{% endif %}><a href="{{ site.baseurl }}/software">Software</a></li>
				<li role="presentation" {% if value == "labbies" %}class="active"{% endif %}><a href="{{ site.baseurl }}/labbies">Labbies</a></li>
				<li role="presentation" {% if value == "papers" %}class="active"{% endif %}><a href="{{ site.baseurl }}/papers">Papers</a></li>
				<li role="presentation" {% if value == "lab_business" %}class="active"{% endif %}><a href="{{ site.baseurl }}/lab_business">Lab Business</a></li>
			</ul>
		</div>
	</div>
</div>
